@tailwind base;
@tailwind components;
@tailwind utilities;

.dark:root {
	color-scheme: dark;
}
.clamp {
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	white-space: normal;
	overflow: hidden;
}
